<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elevator Status</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Welcome to elevator section</h1>
    <br>
    <form action="/display" method="get">
        <textarea name="floor" placeholder="Enter number of floors" cols="30" rows="1"></textarea>
        <textarea name="elevator" placeholder="Enter number of elevators" cols="30" rows="1"></textarea>
        <button type="submit" >Proceed</button>
    </form>
    
    <br>
    
    
</body>
</html> 