h1 {
    color : rgb(10, 10, 94);
    font: 100px ;
}
body {
background-color: rgb(231, 251, 244);
}
button {
    color : rgb(5, 5, 29);
    background-color: aquamarine;
}
form {
    color : white;
    background-color: rgb(117, 215, 155);
    pl;
} s
#h1 {
    font-weight: bold;
}